<template name="feedback">
	<div id="feedbackBody">
	<!-- back button -->
		<div id="back_button" style="position:absolute;">
			<a href="{{pathFor 'gamePage'}}">
				<div class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="display:inline-block; margin:auto; ">
				</div>
				<h1 style="display:inline-block; ">Back</h1>
			</a>
		</div>

		<!-- page banner -->
		<div id="page_banner" style=" height:200px; width: 700px; margin-left:300px; display:inline-block; background-color: red; border-radius:5px;">
			<h1 style="font-size:100px; background-color:black; color:white;"> 
				Welcome. 
				<img id='logo' style="height:100px; margin-left:100px;" src="../images/feedback/logo.png">
			</h1>
			<h1 style="margin-left:150px; color:white;" >We appreciate your feedback</h1>
		</div>

		<!-- make the pineapple move -->
		<script type="text/javascript">
			$('#logo').ready(function(){
				$('#logo').draggable();
			});
		</script>


		<!-- feedback form -->
		<form class="main form page" style="width: 700px; margin-left:300px;">
			<!-- name -->
			<div class="form-group {{errorClass 'name'}}">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input name="name" id="name" type="text" value="" placeholder="Jon Snow" class="form-control"/>
					<span class="help-block">{{errorMessage 'name'}}</span>
				</div>
			</div>

			<!--email  -->
			<div class="form-group {{errorClass 'email'}}">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
					<input name="email" id="email" type="text" value="" placeholder="youDontKnowAnything@jonsnow.com" class="form-control"/>
					<span class="help-block">{{errorMessage 'email'}}</span>
				</div>
			</div>

			<!--title  -->
			<div class="form-group {{errorClass 'title'}}">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input name="title" id="title" type="text" value="" placeholder="He dies knowing nothing still" class="form-control"/>
					<span class="help-block">{{errorMessage 'title'}}</span>
				</div>
			</div>

			<!--comment  -->
			<div class="form-group {{errorClass 'comments'}}">
				<label class="control-label" for="comments">Tell us more</label>
				<div class="controls">
					<textarea name="comments" id="comments" type="text" rows="5" placeholder="Tell us what you know" class="form-control"></textarea>
					<span class="help-block">{{errorMessage 'comments'}}</span>
				</div>
			</div>

			<input type="submit" value="Submit" class="btn btn-primary"/>
		</form>
	</div>
</template>