#firstPageBody{
	margin-top: -73px;
	background-image: url('images/firstPage/background.jpg');
	width: 1303px;
	height:700px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

img{
	cursor:pointer;
}



#lighthouse{
	position:absolute;
	margin-left:705px;
	margin-top:10px;
	height:220px;
	z-index: 10;

}
#shineLighthouse{
	position:absolute;
	margin-left:705px;
	margin-top:20px;
	display: none;
}

#credit{
	position:absolute;
	margin-left:800px;
	margin-top:10px;
	height:200px;

}

#secTower{
	position:absolute;
	margin-left:452px;
	margin-top:169px;
	height:100px;
	z-index: 10;
}
#shineSecTower{
	position:absolute;
	margin-left:420px;
	margin-top:141px;
	display: none;
}


#photoBook{
	position:absolute;
	margin-left:460px;
	margin-top:20px;
	height:150px;
}

#knight{
	position:absolute;
	margin-left:475px;
	margin-top:415px;
	height:100px;
	z-index: 10;
}

#shineknight{
	position: absolute;
	margin-left: 437px;
	margin-top: 387px;
	display: none;
}

#enter{
	position:absolute;
	margin-left:350px;
	margin-top:500px;
	height:100px;
}


#dialog{
	/*positioning*/
	position: absolute;
	margin-left:575px;
	margin-top:430px;
	/*styling*/
	background-color: white;
	border-radius: 20px;
	border:black dotted 2px;
	height:100px;
	width: 200px;
}

#dialog_text{
	text-align: center; 
	padding-top:20px;
	/*from text generator*/
	text-shadow:1px 6px 1px rgba(155,255,125,1);
	font-weight:normal;
	color:#000000;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:14px;
	font-family:arial black, sans-serif;
	line-height:1;
}

/*.arrow-left {
	position: absolute;
	margin-left:575px;
	margin-top:430px;

	width: 20%; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-right:30px solid blue; 
}*/