<template name="individualItem">
	<div class="individualItem">
		<h4 class="c-shop-item_display-name">{{name}}</h4>
		<img src="{{url}}" class="c-shop-item_display-image">
		<div class="c-shop-item_display-description" style="width:400px;">
			<p> HP Bonus: {{hpBonus}} <br> Armour Bonus:{{armourBonus}} <br> Attack Bonus:{{attackBonus}}% <br> Magical Power: {{magicalPower}} <br> Price:{{price}} Gems </p>
		</div>
		<div class="c-shop-item_display-buy_button">
			<button id="buyButton" class="btn btn-default"  role="button">Buy</button>
		</div>
	</div>
	<hr>
</template>