#c-shop-closeButton{
	position:absolute;
	height: 30px;
	width: 30px;
	margin-top: 0px;
	margin-left:845px;
	background-image: url("images/gamePage/closeButton.png");
	background-size: 100% auto;
	z-index: 11;
}

.individualItem{
	height: 170px;
}