<template name="shopTab">
	<div id="c-shop">
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-shop-closeButton">			
			</div>
		</a>
		
		<!-- shop title -->
		<div id="shopSign">
			<h1 style="position: absolute;color:#A3A375; margin-left:500px; margin-top: 35px;">{{gemStoneCount}}</h1>
		</div>

		
		<!-- the following is the shop options -->

		<!-- button group -->
		<div id="c-shop-button_group"  class="btn-group">
			<button id='c-shop-button_group-Helmets'        type="button" class="btn btn-primary">Helmets</button>
			<button id='c-shop-button_group-Chest_Plates'   type="button" class="btn btn-primary">Chest Plates</button>
			<button id="c-shop-button_group-Legs"           type="button" class="btn btn-primary">Legs</button>
			<button id='c-shop-button_group-Arms'           type="button" class="btn btn-primary">Arms</button>
			<button id='c-shop-button_group-Weapons'        type="button" class="btn btn-primary">Weapons</button>
			<button id='c-shop-button_group-Mystical_Relic' type="button" class="btn btn-primary">Mystical Relic</button>
		</div>

		<!-- item display tab -->			
		<div>
			<!-- tab for helmet -->
			<div id="c-shop-item_display-Helmets" >
				<p style="font-size:20px; color:#33334C;">After purchasing the items, you need to <span style="font-weight:bold;text-decoration:underline;">equip them</span> under kingdom tab.</p>
				<hr>

				{{#each shopItem 'helmet'}}
					{{> individualItem}}
				{{/each}}	
			</div>

			<!-- tab for chest plate -->
			<div id="c-shop-item_display-Chest_Plates" >
				<p style="font-size:20px; color:#33334C;">After purchasing the items, you need to <span style="font-weight:bold;text-decoration:underline;">equip them</span> under kingdom tab.</p>
				<hr>

				{{#each shopItem 'chestPlate'}}
					{{> individualItem}}
				{{/each}}
			</div>

			<!-- tab for legs -->
			<div id="c-shop-item_display-Legs">
				<p style="font-size:20px; color:#33334C;">After purchasing the items, you need to <span style="font-weight:bold;text-decoration:underline;">equip them</span> under kingdom tab.</p>
				<hr>
				
				{{#each shopItem 'leg'}}
					{{> individualItem}}
				{{/each}}
			</div>
			<!-- tab for arms -->
			<div id="c-shop-item_display-Arms" >
				<p style="font-size:20px; color:#33334C;">After purchasing the items, you need to <span style="font-weight:bold;text-decoration:underline;">equip them</span> under kingdom tab.</p>
				<hr>

				{{#each shopItem 'arm'}}
					{{> individualItem}}
				{{/each}}
			</div>
			<!-- tab for weapons -->
			<div id="c-shop-item_display-Weapons" >
				<p style="font-size:20px; color:#33334C;">After purchasing the items, you need to <span style="font-weight:bold;text-decoration:underline;">equip them</span> under kingdom tab.</p>
				<hr>
				
				{{#each shopItem 'weapon'}}
					{{> individualItem}}
				{{/each}}
			</div>

			<!-- tab for mystical chest -->
			<div id="c-shop-item_display-Mystical_Relic" >
				<p style="font-size:20px; color:#33334C;">You <span style="font-weight:bold;text-decoration:underline;">DO NOT</span> need to equip the relic to gain the magical power. All magical powers are applied upon purchase. Equip to get bonus stats.</p>
				<hr>

				{{#each shopItem 'relic'}}
					{{> individualItem}}
				{{/each}}
			</div>

		</div>	
	</div>
</template>