#gamePageBody{
	margin-top: -73px;
	background-image: url('images/gamePage/page.jpg');
	width: 1303px;
	height:700px;
    background-repeat: no-repeat;
    background-size: 100% auto;    
}

/* styling of the back ground. also, it regulates the nav bar at the top*/
body{
    background-repeat: no-repeat;
    background-size:100% auto;
    padding-top: 55px;
}


/* styling of the left hand bar*/
#leftHandBar{
	position: absolute;
	height: 570px;
	width: 200px;
	border: 2px solid white;
	border-radius: 5px;
	background-color: #2A2A2F;
	margin-left: 10px;
	margin-top:85px;
	background-image: url('/images/gamePage/leftHandBar.png');
	background-repeat: no-repeat;
	background-size: 100% auto;

}

/*position of the profile pic, on the left hand bar. it needs to be linked to real profile in the future*/
#profilePic{
	position:absolute;
	height: 100px;
	width: 100px;
	margin-top:20px;
	margin-left:50px;
}

/* positon of user name, on the left hand bar*/
#userName{
	position:absolute;
	height:20px;
	width: 100px;
	border:solid blue;
	top:11%;
	left:45%;
	color:yellow;
	font-size: 10px

}

#b1,#b2,#b3,#b4,#b5,#b6{
	margin-top: 30px;
	width:190px;
	margin-left:0px;
}
/* this part is for the positioning of each button*/
#b1{
	position:absolute;
	top:160px;
	
}

#b2{
	position:absolute;
	top:210px;
	
}

#b3{
	position:absolute;
	top:260px;
	
}

#b4{
	position:absolute;
	top:310px;
	
}

#b5{
	position:absolute;
	top:360px;
	
}
#b6{
	position: absolute;
	top:410px;
}

#b7{
	position: absolute;
	top:480px;

}

.menuButton{
	width:190px;
}

/* This part below is for styling of the button*/
.btn{
	background-color:#7d5d3b;
	border:3px solid #784a21;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:14px;
	padding:8px 35px;
	text-decoration:none;
}
.btn:hover {
	background-color:#CC6600;
	border: 3px solid #CC6600;
}
.btn:active {
	position:relative;
	top:1px;
}


/*The following is the styling for the center component*/
/* all the id will start with "center"  to show that it is for center component*/


/*positioning of the center space allocated for preview*/
#c-centerSpace{
	position: absolute;
	margin-left: 300px;
	height: 550px;
	width: 900px;
	top:10%;
}

/*kingdom center preview division*/
#c-kingdom,#c-Rules,#c-Tower_Type,#c-Allies{
	position: absolute;
	background-color: #CC6600;
	/*rgba function generates semi-transparent background*/
	background-color: rgba(48, 75, 91, 0.7);
	border: ridge #522900;
	left:0%;
	top:0%;
	height: 550px;
	width: 900px;
	overflow-y: scroll;
	overflow-x:hidden;
}


/*game tab customisation*/
#c-game{
	position: absolute;
	top:-10px;
	overflow-x: hidden;
	overflow-y:hidden;
	height:620px;
	width: 1080px;
	left:-80px;

}


#treasureChest{
	position: absolute;
	height: 300px;
	margin-top: 100px;
	margin-left: 300px;
	z-index: 300;
	display: none;
}

#prizeBanner{
	position: absolute;
	height: 100px;
	width: 600px;
	margin-top: 170px;
	margin-left: 130px;
	z-index: 301;
	display: none;
}


