<template name="ruleTab">
	<div id="c-Rules" >
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-Rules-closeButton">			
			</div>
		</a>

			<!-- The folloing is the content of the rules -->
		<div style="display:inline-block;">
			<h1 id="c-Rules-h1">Rules</h1>
			<ol>
				<li>
					<h2 id="c-Rules-h2">Tower Options:</h2>
					<p id="c-Rules-p">You will get gold from killing the monster. Once you have enough gold for each type of tower, you can upgrade them to defend against stronger monster.</p>
				</li>
				<li>
					<h2 id="c-Rules-h2">Shop</h2>
					<p id="c-Rules-p">If you want to challenge more difficult stages, you may want to equip you castle with better armour so that even if you fail to stop the monsters, your castles will not be damaged so much. <br><br> There are two attributes which you castle can gain: live and armour. Live gives your castle more hit points. So your castles can survive more hits. Armour reduces the damage your castle receives if a monster hits it. <br><br> To make your castle more tanky, armour is more effective against large amount of low-damage monsters while Live is more effective to defend against small amount of high-damage monsters. </p>
				</li>

			</ol>
		</div>
	</div>
</template>