<template name="shopTab">
	<div id="c-shop">
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-shop-closeButton">			
			</div>
		</a>
		
		<!-- shop title -->
		<div style="display:inline-block; margin-left:350px;">
			<h1 style="text-shadow:6px 4px 8px rgba(154,72,217,1);font-weight:normal;color:#4CC234;letter-spacing:1pt;word-spacing:2pt;font-size:42px;text-align:center;font-family:arial black, sans-serif;line-height:1;">
				Shop
			</h1>
		</div>

		
		<!-- the following is the shop options -->

		<!-- button group -->
		<div id="c-shop-button_group"  class="btn-group">
			<button id='c-shop-button_group-Helmets'        type="button" class="btn btn-primary">Helmets</button>
			<button id='c-shop-button_group-Chest_Plates'   type="button" class="btn btn-primary">Chest Plates</button>
			<button id="c-shop-button_group-Legs"           type="button" class="btn btn-primary">Legs</button>
			<button id='c-shop-button_group-Arms'           type="button" class="btn btn-primary">Arms</button>
			<button id='c-shop-button_group-Weapons'        type="button" class="btn btn-primary">Weapons</button>
			<button id='c-shop-button_group-Mystical_Relic' type="button" class="btn btn-primary">Mystical Relic</button>
		</div>

		<!-- item display tab -->			
		<div>
			<!-- tab for helmet -->
			<div id="c-shop-item_display-Helmets" >
				{{#each shopItem 'helmet'}}
					{{> individualItem}}
				{{/each}}	
			</div>

			<!-- tab for chest plate -->
			<div id="c-shop-item_display-Chest_Plates" c>
				{{#each shopItem 'chestPlate'}}
					{{> individualItem}}
				{{/each}}
			</div>

			<!-- tab for legs -->
			<div id="c-shop-item_display-Legs">
				{{#each shopItem 'leg'}}
					{{> individualItem}}
				{{/each}}
			</div>
			<!-- tab for arms -->
			<div id="c-shop-item_display-Arms" >
				{{#each shopItem 'arm'}}
					{{> individualItem}}
				{{/each}}
			</div>
			<!-- tab for weapons -->
			<div id="c-shop-item_display-Weapons" >
				{{#each shopItem 'weapon'}}
					{{> individualItem}}
				{{/each}}
			</div>

			<!-- tab for mystical chest -->
			<div id="c-shop-item_display-Mystical_Relic" >
				{{#each shopItem 'relic'}}
					{{> individualItem}}
				{{/each}}
			</div>

			<!-- the following script is to display item display tab -->
			<script type="text/javascript">
				$('#c-shop').ready(function(){
					$('#c-shop-item_display-Helmets').hide();
					$('#c-shop-item_display-Chest_Plates').hide();
					$('#c-shop-item_display-Legs').hide();
					$('#c-shop-item_display-Arms').hide();
					$('#c-shop-item_display-Weapons').hide();
					$('#c-shop-item_display-Mystical_Relic').hide();

					// when click on helmet, show helmet tab and hide the rest
					$('#c-shop-button_group-Helmets').click(function(){
						$('#c-shop-item_display-Helmets').show();
						$('#c-shop-item_display-Chest_Plates').hide();
						$('#c-shop-item_display-Legs').hide();
						$('#c-shop-item_display-Arms').hide();
						$('#c-shop-item_display-Weapons').hide();
						$('#c-shop-item_display-Mystical_Relic').hide();
					});

					// when click on chest plate, show chest plate tab and hide the rest
					$('#c-shop-button_group-Chest_Plates').click(function(){
						$('#c-shop-item_display-Helmets').hide();
						$('#c-shop-item_display-Chest_Plates').show();
						$('#c-shop-item_display-Legs').hide();
						$('#c-shop-item_display-Arms').hide();
						$('#c-shop-item_display-Weapons').hide();
						$('#c-shop-item_display-Mystical_Relic').hide();
					});

					// when click on legs, show legs tab and hide the rest
					$('#c-shop-button_group-Legs').click(function(){
						$('#c-shop-item_display-Helmets').hide();
						$('#c-shop-item_display-Chest_Plates').hide();
						$('#c-shop-item_display-Legs').show();
						$('#c-shop-item_display-Arms').hide();
						$('#c-shop-item_display-Weapons').hide();
						$('#c-shop-item_display-Mystical_Relic').hide();
					});

					// when click on arms, show arms tab and hide the rest
					$('#c-shop-button_group-Arms').click(function(){
						$('#c-shop-item_display-Helmets').hide();
						$('#c-shop-item_display-Chest_Plates').hide();
						$('#c-shop-item_display-Legs').hide();
						$('#c-shop-item_display-Arms').show();
						$('#c-shop-item_display-Weapons').hide();
						$('#c-shop-item_display-Mystical_Relic').hide();
					});

					// when click on weapon, show weapon tab and hide the rest
					$('#c-shop-button_group-Weapons').click(function(){
						$('#c-shop-item_display-Helmets').hide();
						$('#c-shop-item_display-Chest_Plates').hide();
						$('#c-shop-item_display-Legs').hide();
						$('#c-shop-item_display-Arms').hide();
						$('#c-shop-item_display-Weapons').show();
						$('#c-shop-item_display-Mystical_Relic').hide();
					});

					// when click on mystical chest, show mystical chest tab and hide the rest
					$('#c-shop-button_group-Mystical_Relic').click(function(){
						$('#c-shop-item_display-Helmets').hide();
						$('#c-shop-item_display-Chest_Plates').hide();
						$('#c-shop-item_display-Legs').hide();
						$('#c-shop-item_display-Arms').hide();
						$('#c-shop-item_display-Weapons').hide();
						$('#c-shop-item_display-Mystical_Relic').show();
					});
				});
			</script>
		</div>	
	</div>
</template>