<template name="adminStory">
	<ol>
		<li>
			<h2 class="adminH2">managing database</h2>
			<p class="adminP">As an admin, we can gain access to the game's database. </p>
			<img class="adminPic" src="/images/adminStory/1.png">

			<br><br>

			<p class="adminP">We are able to look into each record in the database and make the necessary changes. Also, we can use the filter function to pull out the cases we are interested at.</p>
			<img class="adminPic" src="/images/adminStory/2.png">
		</li>
		<li>
			<h2 class="adminH2">Receiving feedback</h2>
			<p class="adminP">I have set up a feedback channel for the users to send messages to us. </p>
			<img class="adminPic" src="/images/adminStory/3.png">

			<br><br>

			<p class="adminP">This is what I receive. With this feedback channel, I will be able to collect suggestions/bug reports from the users and make necessary changes.</p>
			<img class="adminPic" src="/images/adminStory/4.png">
		</li>
	</ol>
</template>