<template name="towerTypeTab">
	<div id="c-Tower_Type">
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-TowerType-closeButton">			
			</div>
		</a>


		<div>
			<h1 id="c-Tower_Type-h1"> Tower Type</h1>
			<ol>
				<li>
					<h2 id="c-Tower_Type-h2">1. Attack</h2>
					<div><img src="/images/gameImages/light_tower.png"></div>
				</li>
				<li>
					<h2 id="c-Tower_Type-h2">2. Slow</h2>
					<div><img src="/images/gameImages/ice_tower.png"></div>
				</li>
			</ol>
		</div>
	</div>
</template>