#c-TowerType-closeButton{
	position:absolute;
	height: 30px;
	width: 30px;
	margin-top: 0px;
	margin-left:845px;
	background-image: url("images/gamePage/closeButton.png");
	background-size: 100% auto;
	z-index: 11;
}

table {
	background-color: #2f4f4f;
	color: white;
}

.info {
	text-shadow:1px 1px 0 rgba(255,255,0,1);font-weight:normal;color:#2D8C73;letter-spacing:0pt;word-spacing:1pt;font-size:20px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:2;
}

.ruleTabTable{
	width: 800px;
	border-radius: 5px;
	border:2px black groove;
}