<template name="towerTypeTab">
	<div id="c-Tower_Type">
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-TowerType-closeButton">			
			</div>
		</a>


		<div>
			<h1 class="c-Tower_Type-h1"> Tower Type</h1>
			<ol>

				<!-- table for plasma tower -->
				<div>
					<h2 class="c-Tower_Type-h2">1. Plasma Tower</h2>
					<div class="info">Fast firing with average damage. Single-target attack</div>
					<table class="ruleTabTable">
					  <tr>
					  	<th>Image</th>
					    <th>Level</th>
					    <th>Cost</th> 
					    <th>Range(boxes)</th>
					    <th>Damage</th>
					    <th>Reload(sec)</th>
					  </tr>
					  {{#each loadPlasma}}
					  <tr>
					  	<td><img src="{{image}}" style="height:30px"></td>
					    <td>{{level}}</td>
					    <td>{{cost}}</td> 
					    <td>{{convertRange range}}</td>
					    <td>{{damage}}</td>
					    <td>{{convertDuration cd}}</td>
					  </tr>
					  {{/each}}
					</table>
				</div>

				<!-- table for icy glyph tower -->
				<div>

					<h2 class="c-Tower_Type-h2">2. Icy Glyph</h2>
					<div class='info'>Slows enemies with low damage. Splash attack.</div>
					<table class="ruleTabTable">
					  <tr>
					  	<th>Image</th>
					    <th>Level</th>
					    <th>Cost</th> 
					    <th>Range(boxes)</th>
					    <th>Damage</th>
					    <th>Slow</th>
					    <th>Splash(boxes)</th>
					    <th>Duration(sec)</th>
					    <th>Reload(sec)</th>
					  </tr>

					  {{#each loadGlyph}}
					  <tr>
					  	<td><img src="{{image}}" style="height:30px"></td>
					    <td>{{level}}</td>
					    <td>{{cost}}</td> 
					    <td>{{convertRange range}}</td>
					    <td>{{damage}}</td>
					    <td>{{convertSlow slow}}%</td>
					    <td>{{convertRange splash}}</td>
					    <td>{{convertDuration duration}}</td>
					    <td>{{convertDuration cd}}</td>
					  </tr>
					  {{/each}}
					</table>
				</div>

				<!-- regen tower -->
				<div>
					<h2 class="c-Tower_Type-h2">3. Fountain</h2>
					<div class='info'>This tower heals you</div>
					<table class="ruleTabTable">
						<tr>
							<th>Image</th>
							<th>Level</th>
							<th>Cost</th>
							<th>Heal Amount</th>
							<th>Frequency</th>
						</tr>
						{{#each loadFountain}}
						<tr>
							<th><img src="{{image}}"></th>
							<th>{{level}}</th>  <!-- level-->
							<th>{{cost}}</th> <!-- cost-->
							<th>{{damage}}</th> <!-- Heal Amount-->
							<th>Every {{cd}} wave</th> <!-- Frequency-->
						</tr>
						{{/each}}
						
					</table>
				</div>
				<!-- stats for the monsters -->
				<div>
					<h2 class="c-Tower_Type-h2">4.Monsters</h2>
					<div class='info'>various stats</div>
					<table class="ruleTabTable">
					<tr>
						<th>Image</th>
						<th>name</th>
						<th>Description</th>
						<th>damage</th>
						<th>hp</th>
						<th>speed</th>
						<th>bounty</th>
					</tr>
					{{#each loadMonster}}
					<tr>
						<td><img src="{{image}}"></td>
						<td>{{name}}</td>
						<td class="describe">{{description}}</td><!-- description -->
						<td>{{damage}}</td> <!-- damage -->
						<td>{{hp}}</td><!-- hp -->
						<td>{{speed}}</td><!-- speed -->
						<td>{{bounty}}</td><!-- bounty -->
					</tr>
					{{/each}}
						
					</table>
				</div>

			</ol>
		</div>
	</div>
</template>