<template name="towerTypeTab">
	<div id="c-Tower_Type">
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-TowerType-closeButton">			
			</div>
		</a>


		<div>
			<h1 class="c-Tower_Type-h1"> Tower Type</h1>
			<ol>
				<div>
					<h2 class="c-Tower_Type-h2">1. Plasma Tower</h2>
					<div class="info">Fast firing with average damage.</div>
					<table style="width:100%">
					  <tr>
					  	<th>Image</th>
					    <th>Level</th>
					    <th>Cost</th> 
					    <th>DPS</th>
					    <th>Range</th>
					    <th>Damage</th>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/light_tower.png" style="height:30px"></td>
					    <td>1</td>
					    <td>15</td> 
					    <td>13.3</td>
					    <td>3</td>
					    <td>10</td>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/light_tower_2.png" style="height:30px"></td>
					    <td>2</td>
					    <td>30</td> 
					    <td>26.6</td>
					    <td>3</td>
					    <td>20</td>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/light_tower_3.png" style="height:30px"></td>
					    <td>3</td>
					    <td>60</td> 
					    <td>80</td>
					    <td>3.5</td>
					    <td>40</td>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/light_tower_4.png" style="height:30px"></td>
					    <td>4</td>
					    <td>120</td> 
					    <td>320</td>
					    <td>3.5</td>
					    <td>80</td>
					  </tr>
					</table>
				</div>
				<div>
					<h2 class="c-Tower_Type-h2">2. Icy Glyph</h2>
					<div class='info'>Slows enemies with low damage.</div>
					<table style="width:100%">
					  <tr>
					  	<th>Image</th>
					    <th>Level</th>
					    <th>Cost</th> 
					    <th>DPS</th>
					    <th>Range</th>
					    <th>Damage</th>
					    <th>Slow (Duration)</th>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/ice_tower.png" style="height:30px"></td>
					    <td>1</td>
					    <td>20</td> 
					    <td>5</td>
					    <td>2.5</td>
					    <td>5</td>
					    <td>25% (1.0s)</td>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/ice_tower_2.png" style="height:30px"></td>
					    <td>2</td>
					    <td>40</td> 
					    <td>10</td>
					    <td>2.5</td>
					    <td>10</td>
					    <td>40% (1.5s)</td>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/ice_tower_3.png" style="height:30px"></td>
					    <td>3</td>
					    <td>80</td> 
					    <td>26.7</td>
					    <td>3</td>
					    <td>20</td>
					    <td>50% (2.0s)</td>
					  </tr>
					  <tr>
					  	<td><img src="/images/gameImages/ice_tower_4.png" style="height:30px"></td>
					    <td>4</td>
					    <td>160</td> 
					    <td>53.3</td>
					    <td>3</td>
					    <td>40</td>
					    <td>80% (2.5s)</td>
					  </tr>
					</table>
				</div>
			</ol>
		</div>
	</div>
</template>