<template name="alliesTab">
	<div id="c-Allies">
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-Allies-closeButton">			
			</div>
		</a>
		
		<!-- left hand scroll with the scroll with words -->
		<div id="scrollLeft"></div>
		<div id="scrollLeftOpen"></div>

		<!-- right hand scroll with the scroll with words -->
		<div id="scrollRight"></div>
		<div id="scrollRightFold"></div>

		<div id="scrollPaper" >
			<!-- the window to display message -->
			<div id="chatWindow">
				<ul>
				{{#each loadMessage}}
					<li>
						<p><span style="color: white; font-size:20px">{{sentBy}}:</span> {{content}} </p>
						<P ><span style="color:black; font-size:10px;">{{date}}</span></P>
					</li>
				{{/each}}
				</ul>
			</div>

			<!-- the place to type message -->
			<form id="messageContent" style="margin-top: 430px; margin-left:25px;">
				<label for="message">Message:</label>
				<input  name="message" type="text" placeholder="Your Message" style="width:630px;">
				<input type="submit" value="Send" >
			</form>		
		</div>
		

		<div id="chatConfig">
			<!-- first session -->
			<div id="friends">
				<h3 id="seeFriend" style="text-align:center; font-weight:bold; font-family:lucida sans unicode">Friends</h3>
				<hr>


				<button id="followingPanel" style="width:145px;">Following</button>
				<button id="followerPanel" style="width:145px;">Followers</button>

				<!-- display friends -->
				<div id="friendBox" >
				<p>Your friends:</p>
					<ul>
						{{#each loadFriends}}
							<li>
							<p id="allyName" style="display:inline-block; width:175px; font-size:15px; color:white;">{{username}}{{profile.name}}</p>
							<input id="unfriend" type="submit" value="unfriend" style="display:inline-block; width:70px;">
							<input id="joinAlly" type="submit" class="{{join}}" value="Join Ally" style="display:block; width:100px; margin-left:150px;">
						</li>
						{{/each}}
					</ul>
				</div>

				<!-- display following -->
				<div id="followingBox" style="display:none;" >
				<p>People you follow</p>
					<ul>
						{{#each findFollowing}}
						<li>
							<p style="display:inline-block; width:175px; font-size:15px; color:white;">{{username}}{{profile.name}}</p>
							<input id="unfollowUser" type="submit" name="unfollowUser" value="unfollow" style="display:inline-block; width:70px;">
						</li>	
						{{/each}}
					</ul>
				</div>

				<!-- display followers -->
				<div id="followerBox" style="display:none;">
				<p>People who follow you</p>
					<ul>
						{{#each findFollowers}}
						<li>
							<p style="display:inline-block; width:175px; font-size:15px; color:white;">{{username}}{{profile.name}}</p>
							<input id="followUser" type="submit" name="followUser" value="follow" style="display:inline-block; width:70px;">
						</li>	
						{{/each}}
					</ul>
				</div>

			</div>

			<!-- 2nd session -->
			<div id="inbox">
				<h3 style="text-align:center; font-weight:bold; font-family:lucida sans unicode">Control Panel</h3>
				<hr>

				<div style="position: absolute; width:450px; height:120px; ">
					<ul>
						{{#if showAllyStats}}
						<p style="font-size:20px">{{showAllyStats.statusMessage}}</p> 
						<li style="font-size:20px">Hp Bonus: {{showAllyStats.hpBonus}}</li>
						<li style="font-size:20px">armour Bonus: {{showAllyStats.armourBonus}}</li>
						<li style="font-size:20px">attack Bonus: {{showAllyStats.attackBonus}}</li>
						<P>You get 15% of the bonus if you join this ally</P>
						{{/if}}
					</ul>
				</div>

				<!-- all user search box -->
				<div style="height:100px; width:450px; margin-top:300px; overflow-y:scroll; overflow-x:hidden; border:2px black solid">
					<P>All users</P>
					<ul>

						{{#each findAllUser}}
						<li>
							<p style="display:inline-block; width:325px; font-size:15px; color:white;">{{username}}{{profile.name}}</p>
							<input id="followUser" type="submit" name="followUser" value="follow" style="display:inline-block; width:50px;">
						</li>	
						{{/each}}
					</ul>
				</div>
			</div>

		</div>
	</div>
</template>
					