#c-Allies-closeButton{
	position:absolute;
	height: 30px;
	width: 30px;
	margin-top: 0px;
	margin-left:845px;
	background-image: url("images/gamePage/closeButton.png");
	background-size: 100% auto;
	z-index: 13;
}

#scrollLeft{
	position: absolute;
	width: 60px;
	height: 550px;
	background-image: url('/images/gamePage/scrollLeft.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	z-index: 10;
}
#scrollLeftOpen{
	position: absolute;
	width: 60px;
	height: 550px;
	background-image: url('/images/gamePage/scrollLeftOpen.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	z-index: 11;
}
#scrollPaper{
	position: absolute;
	margin-left: 40px;
	margin-top: 35px;
	height: 475px;
	width: 830px;
	background-color:#D1A319;
	background-repeat: no-repeat;
	background-size:  100% auto; 
	z-index: 9; 
	overflow-x: hidden;
	overflow-y:scroll;
}

#scrollRight{
	position: absolute;
	margin-left: 820px;
	width: 60px;
	height: 550px;
	background-image: url('/images/gamePage/scrollRight.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	z-index: 10;
}
#scrollRightFold{
	position: absolute;
	margin-left: 820px;
	width: 60px;
	height: 550px;
	background-image: url('/images/gamePage/scrollRightFold.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	z-index: 11;
}

#chatWindow{
	position: absolute;
	margin-left: 20px;
	margin-top: 10px;
	width: 800px;
	height: 420px;
	color: blue;
	overflow-y:auto;
	overflow-x:hidden;
	z-index: 10;
	
}

#chatConfig{
	position: absolute;
	margin-left:110px;
	margin-top: 40px;
	width: 750px;
	height: 470px;
	z-index: 5;
}



#friends{
	position: absolute;
	width: 300px;
	height:470px;
	
	background-color: rgba(255, 153, 0, 0.5);
	border:solid #B85C00 2px;
	border-radius: 5px;
	overflow-x:hidden;
	overflow-y:hidden;
}

#inbox{
	position: absolute;
	width: 250px;
	height:470px;
	margin-left: 500px;
	background-color:rgba(204, 102, 0,0.5);
	border-radius: 5px;
	overflow-x:hidden;
	overflow-y:auto;
}

#friendBox{
	position: absolute;
	margin-top: 0px;
	width: 300px;
	height: 400px;
}


#followingBox{
	position: absolute;
	margin-top: 0px;
	width: 300px;
	height: 400px;
}

#followerBox{
	position: absolute;
	margin-top: 0px;
	width: 300px;
	height: 400px;
}

