<template name="ruleTab">
	<div id="c-Rules" >
		<!-- the following is close button -->
		<a href="{{pathFor 'gamePage'}}">
			<div id="c-Rules-closeButton">			
			</div>
		</a>

			<!-- The folloing is the content of the rules -->
		<div style="display:inline-block;">
			<h1 class="c-Rules-h1">Rules</h1>
			<ol>
				<li>
					<h2 class="c-Rules-h2">Before you start</h2>
					<br>
					<P class="c-Rules-p"> Click the top nav bar to log in</P>
					<img src="/images/ruleTab/1.1.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">You can switch to kingdom tab. You can see your username, the gems you own and various stats of your castle. We strongly suggest you to log in. You can only have your own page and gain access to various functions the game provides.</p>
					<img src="/images/ruleTab/1.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2">Shop</h2>
					<p class="c-Rules-p">If you want to challenge more difficult stages, you may want to equip you castle with better armour so that even if you fail to stop the monsters, your castles will not be damaged so much. <br><br> There are two attributes which you castle can gain: live and armour. Live gives your castle more hit points. So your castles can survive more hits. Armour reduces the damage your castle receives if a monster hits it. <br><br> To make your castle more tanky, armour is more effective against large amount of low-damage monsters while Live is more effective to defend against small amount of high-damage monsters.  <br><br> The attack bonus is added to all towers you own.</p>
					<img src="/images/ruleTab/2.png" style="width:500px;">
					<img src="/images/ruleTab/3.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">You can only equip ONE equipment from each category. Hence buy wisely and choose wisely. </p>
					<img src="/images/ruleTab/4.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">However, although you can only equip one item from "relic" section, you gain the magical powers of ALL the relic you bought without needing to equip them. </p>
					<img src="/images/ruleTab/4.1.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2"> Chat Room </h2>
					<p class="c-Rules-p">You can access a global chat room here. Your message will be seen by all users. But you must log in first before you can send your own messages.</p>
					<img src="/images/ruleTab/5.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">You can further access the "add friend" system by clicking on the "fold". </p>
					<img src="/images/ruleTab/6.png" style="width:500px;">
					<br><br>
					<P class="c-Rules-p"> You can see all other users under control panel. You can also follow them. Those people you follow will appear on the "following". People who follow you will appear on the "followers".  If you follow each other, the person will appear under "friends".</P>
					<img src="/images/ruleTab/7.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">Moving forward, once two users are friends, they can choose to join ally. By clicking on your friend's name, you can see his stats on the right. If you think his stats are good, you can choose to join. But you can only take maximum 3 friends with you. </p>
					<img src="/images/ruleTab/7.1.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2">Here comes the game</h2>
					<p class="c-Rules-p">Please select the game tab and click on "New Game"</p>
					<img src="/images/ruleTab/8.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">Once you are inside the game, you can see there are a few icons on the left hand menu. They are "score","life", "gold", "armour", "attack bonus", "regeneration" respectively. <br><br>  Also, you may be wondering why the caslte has uneven hp. To answer that, 22 is the total hp. 20 is the basic hp without equipment bonus. <br><br> If you want to build a tower, click the icon at the bottom menu and click again on the green lawn. </p>
					<img src="/images/ruleTab/9.png" style="width:500px;">
					<br><br>

					<p class="c-Rules-p">Once you have your towers built, you can choose to either build more towers, or upgrade them. Here are a list of the stats when you upgrade your towers. </p>
					<img src="/images/ruleTab/9.1.png" style="width:500px;">

					<br><br>
					<p class="c-Rules-p">There are a few special abilities you can use after you have purchased the ring under "relic" section in shop(do not need to equip).In the game itself, you can access those abilities on the bottom menu.</p>
					<img src="/images/ruleTab/9.2.png" style="width:500px;">

					<br><br>
					<p class="c-Rules-p">If you see the red color star, means your armour is lower than the attack of the monster. Otherwise you will see a silver shield, which symbolises damage blocking. If the damage is blocked, you won't lose any hp at all.</p>
					<img src="/images/ruleTab/10.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2">Shortcuts in the game</h2>
					<p class="c-Rules-p">Here are the keyboard shortcuts which, you can press in the game instead of manually clicking with a mouse. </p>
					<P class="c-Rules-p">For the start button or play/pause button after you start the game<br>- '`'<br>
					To mute the game sound<br>- 'n'<br>
					To click the Menu button to go back<br>- 'm'<br>
					For the game speed buttons<br>- '1'/'2'/'3'/'4' (for the respective 4 buttons.)<br>
					To click the button to buy tower from Ice Tower to bomb<br>- 'q,w,e,r' (from left to right)<br>
					To click the button to use spell from Freezing Field to Double Damage<br>- 'a,s,d,f' (from left to right)<br>
					To cancel the button to buy tower/use spells<br>- 'Esc'</p>
					<img src="/images/ruleTab/8.9.png" style="width:500px;">
					<img src="/images/ruleTab/9.png" style="width:500px;">
					<p class="c-Rules-p">You can write in feedbacks to request to add more shortcuts in the game!(but only after you sign in!)</p>
				</li>
				<li>
					<h2 class="c-Rules-h2">leader board</h2>
					<p class="c-Rules-p">When the game is over, you will be led go leader board</p>
					<img src="/images/ruleTab/11.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">Global ranking displays the top 10 of all users' records while the personal ranking displays only your top 10. It's a great way to keep track of your progress.</p>
					<img src="/images/ruleTab/12.png" style="width:500px;">
					<img src="/images/ruleTab/13.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2">Feedback</h2>
					<img src="/images/ruleTab/14.png" style="width:500px;">
					<br><br>
					<p class="c-Rules-p">If you have any suggestions and bug report, please use this feedback channel to let us know. We will appreciate it very much. All fields are required. So please fill them. This feedback channel is not a demonstration. It will really send emails to my gmail. So please don't spam. there is a spam limit mechanism in place. Once again, we thank you for your valuable feedback.  </p>
					<img src="/images/ruleTab/15.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2">Daily Prizes</h2>
					<p class="c-Rules-p">Every day you log in, you will receive a daily login prize of one gem! To see the prize, please enter from home page(clikc the knight).</p>
					<img src="/images/ruleTab/15.5.png" style="width:500px;">
				</li>
				<li>
					<h2 class="c-Rules-h2">Last But Not Least</h2>
					<p class="c-Rules-p">Please like and share our game. Thank you!!</p>
					<img src="/images/ruleTab/16.png" style="width:500px;">
					<img src="/images/ruleTab/17.png" style="width:500px;">
					
				</li>
			</ol>
		</div>
	</div>
</template>