<template name="btmMenu">
	<div id="btmMenu">
		<div id="btmMenu">
			<div id="towerMenu">		
				<button class="towerBtn" onclick="buyTower('iceTower')">
					<img src="images/ice_tower.png" class="tower">
					<p class="towerName">Ice Tower</p>
				</button>
				<button class="towerBtn" onclick="buyTower('lightTower')">
					<img src="images/light_tower.png" class="tower">
					<p class="towerName">Light Tower</p>
				</button>	
			</div>
			<div id="powerMenu">
				<button class="towerBtn" onclick="buyTower('lightTower')">
					<p class="towerName">att spd</p>
				</button>	
				<button class="towerBtn" onclick="buyTower('lightTower')">
					<p class="towerName">att dmg</p>
				</button>	
				<button class="towerBtn" onclick="power('freeze')">
					<p class="towerName">freeze</p>
				</button>	
			</div>
		</div>
	</div>

</template>