<template name="gameTab">
	{{extraction}}
	<div id="c-game">

		<!-- Option bar on the left for Game Canvas -->
		<div id="c-game-left_hand_menu">
			<div id="gameStatus">
				<p class="gameInfo"><img src="/images/gameImages/score.png">: <span id="score"></span></p>
				<p class="gameInfo" style="color:#f00"><img src="/images/gameImages/hp.png">: <span id="health"></span></p>
				<p class="gameInfo" style="color:#fa0;"><img src="/images/gameImages/coin.png">: <span id="cash"></span></p>
				<div>
					<p class="titles">Castle Info</p>
					<p class="gameInfo" style="color:#00f">
						<img src="/images/gameImages/shield.png">: <span id="armor"></span><br>
						<img src="/images/gameImages/sword.png">: <span id="bonus"></span>%<br>
						<img src="/images/gameImages/regeneration.png">: <span id="regen"></span><br>
					</p>
				</div>	
				<hr>
				<input type="button" value="Start" id="pauseBtn">
				<!--<input type="button" value="Save" id="saveBtn">-->
				<input type="button" value="Menu" id="menuBtn"><br> 
				<input type="button" value="Check Range" id="rangeBtn"><br>
				<span class="gameInfo"> Game Speed </span><br>
				<input type="button" value="1x" id="ff1" class='ff'>
				<input type="button" value="2x" id="ff2" class='ff'>
				<input type="button" value="4x" id="ff4" class='ff'>
				<input type="button" value="8x" id="ff8" class='ff'>
				<!--<input type="button" value="next wave" id="nextBtn">-->
				<p class="gameInfo"><img src="/images/gameImages/wave.png">: <span id="wave"></span> </p>	
				<p class="gameInfo">Next Wave In:<span id="cdTimer" class="gameInfo"></span> s</p>
				<hr>
				<p class="titles">Tower Info</p>
				<p id="infoText"></p>
				<p id="errorText"></p>
			</div>
		</div>


		<!-- bottom menu -->
		<div id="btmMenu">
			<div id="towerMenu">		
				<button class="towerBtn" id="iceBtn">
					<img src="/images/gameImages/ice_tower.png" class="tower">
					<p class="towerName">Ice Tower</p>
				</button>
				<button class="towerBtn" id="lightBtn">
					<img src="/images/gameImages/light_tower.png" class="tower">
					<p class="towerName">Light Tower</p>
				</button>	
				<button class="powerBtn" id="freezePower">
					<p class="towerName">Freeze Monster</p>
				</button>	
			</div>
		</div>


		<!-- Game Canvas -->
		<div id="c-game-game_canvas" >
			<div id="game">
				<canvas id="playingField" width="896" height="544"></canvas>
			</div>
		</div>


	</div>
</template>