#c-shop{
	position: absolute;
	
	/*rgba function generates semi-transparent background*/
	background-image: url('/images/gamePage/shopBoard.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	border: ridge #522900;
	left:0%;
	top:0%;
	height: 550px;
	width: 900px;
	overflow-y: scroll;
	overflow-x:hidden;
}

#shopSign{
	background-image: url('/images/gamePage/shopSign.png');
	background-size: 100% auto;
	background-repeat: no-repeat;

	margin-left: 50px;
	width: 780px;
	height: 200px;
}
		


#c-shop-button_group{
	margin-top: -130px;
	margin-left: 50px;
}

/*text styling for the rules*/

#c-shop-item_display-Helmets,
#c-shop-item_display-Chest_Plates,
#c-shop-item_display-Legs,
#c-shop-item_display-Arms,
#c-shop-item_display-Weapons,
#c-shop-item_display-Mystical_Relic{
	margin-top: -50px;
	margin-left: 90px;
	height:370px;
	width:700px; 
	background-color:#936E00;
	border-radius-bottom: 5%;
	overflow-y:auto;
	overflow-x: hidden;
	border-radius:5px;
}

/*styling for the word in item display tab*/
.c-shop-item_display-name{
	text-shadow:1px 3px 5px rgba(248,255,36,1);font-weight:bold;color:#342EE6;letter-spacing:1pt;word-spacing:2pt;font-size:15px;text-align:left;font-family:verdana, sans-serif;line-height:0;
}

.c-shop-item_display-image{
	width: 100px;
	height:100px;
	display: inline-block;
	margin-top: 10px;	
	vertical-align: top;
	
}

.c-shop-item_display-description{
	display: inline-block;
	/*margin-left: 150px;*/
	height: 100px;
	width:600px;
	margin-top: 10px;	
	vertical-align: top;
	
	/*from text style generator v*/
	font-weight:bold;color:#243524;font-size:16px;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
}

.c-shop-item_display-buy_button{
	display: inline-block;
	margin-top:10%;
}





#c-game-left_hand_menu{
	position: absolute;
	background-color: rgba(141, 195, 198, 0.7);
	height: 540px;
	width: 170px;
	left: 180px;
	margin-top:0px;
	z-index: 0;
	border-radius:5px;
}

#c-game-game_canvas{
	background-color: #CC6600;
	/*rgba function generates semi-transparent background*/
	background-color: rgba(48, 75, 91, 0.7);
	border: ridge #522900;
	position: absolute;
	height:546px;
	width: 900px;
	top:0px;
	left: 175px;
	z-index: 10;
	overflow-x: scroll;
	overflow-y:scroll;
	z-index: 5;
}

#c-game-left_hand_menu-lupper_section-words{
	color: red;
}
#c-game-left_hand_menu-lupper_section{
	display: block;
	width:120px;
}
#c-game-left_hand_menu-lower_section{
	display: block;
	width: 120px;
	text-align: center;

}

#btmMenu{
	position: absolute;
	height:60px;
	width: 900px;
	background-color: rgba(141, 195, 198, 0.7);
	left: 175px;
	top: 480px;
	border-radius:5px;
	z-index: 0;
	
}



#playingField{
	margin-top: 2px;
	z-index: 5;
}

#meteor{
	position: absolute;
	z-index: 1px;
	margin-top: -200px;
	margin-left: -150px;
	display: none;
	z-index: 2;
}

#impactShadow{
	position: absolute;
	z-index: 1px;
	margin-left: 600px;
	margin-top: 250px;
	display: none;
}