<template name="signupForm">
  <form id="signup-form">
    <h2>Sign Up</h2>

    <label for="signUp_name">Username</label>
    <input type="text" id="signUp_name" placeholder="Jon Snow" />

    <label for="signUp_password">Password</label>
    <input type="password" id="signUp_password" placeholder="Password" />

    <label for="signUp_email">E-mail</label>
    <input type="text" id="signUp_email" placeholder="email" />

    <button type="submit">Sign Up</button>
  </form>
</template>

<template name="loginForm">
  <form id="login-form">
    <h2>Log In</h2>

    <label for="logIn_name">Username</label>
    <input type="text" id="logIn_name" placeholder="Jon Snow" />

    <label for="logIn_password">Password</label>
    <input type="password" id="logIn_password" placeholder="Password" />

    <button type="submit">Log In</button>
  </form>
</template>

<template name="logoutForm">
  <form id="logout-form">
    <button type="submit">Log Out</button>
  </form>
</template>