<template name="individual_Item_inventory">
		{{#if dataNotFound}}
			<a href="{{pathFor 'shopTab'}}">
				<h1 style="margin-left:30px;">Go To the Shop and Buy Some Items!!</h1>
			</a>
		{{else}}
		<div id="containerEachItem">

			<h4 class="kingdomTab_item_name">{{name}}</h4>
			<img src="{{url}}" class="kingdomTab_item_image">
			<div class="kingdomTab_item_description">
				<p> HP Bonus: {{hpBonus}} <br> Armour Bonus:{{armourBonus}} <br> Attack Bonus:{{attackBonus}}% <br>Magical Power: {{magicalPower}}<br> price: {{price}} </p>
			</div>
			<!-- return the class "greenTick", which will show the item is equipped -->
			<div class="{{checkIfequipped}}">	
			</div>
			<!-- equip button -->
			<div class="inventory_button" >
				<button id="equipButton" class="btn btn-default">
					equip
				</button>
			</div>
			<!-- sell button -->
			<div class="inventory_button" >
				<button id="sellButton" class="btn btn-default"  role="button">sell</button>
				<p>(25% refund)</p>
			</div>
		</div>
		<hr>
		{{/if}}
</template>
