#leaderBoardBody{
	margin-top: -73px;
	background-image: url('images/leaderBoard/background.png');
	width: 1303px;
	height:700px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#lb_globalRanking{
	position: absolute;
	height: 500px;
	width: 850px;
	background-color: rgba(174, 188, 131, 0.8);
	top: 50px;
	margin-left:200px;
	border-radius:5px;
	border: solid #A35200 2px;
	overflow-y:auto;
	overflow-x:hidden;
	z-index: 20;
	display: none;
}
#lb_personalRanking{
	position: absolute;
	height: 500px;
	width: 850px;
	background-color: rgba(174, 188, 131, 0.8);
	top: 50px;
	margin-left:200px;
	border-radius:5px;
	border: solid #A35200 2px;
	overflow-y:auto;
	overflow-x:hidden;
	z-index: 20;
	display: none;
}

#bluejay{
	position: absolute;
	margin-left: 1060px;
	margin-top: 535px;
	height: 130px;
	width: 150px;
	background-image: url('/images/leaderBoard/bluejay.png');
	background-size:  100% auto;
	background-repeat: no-repeat;
	z-index: 10;
}
#back{
	position: absolute;
	margin-left: 1100px;
	margin-top: 500px;
	height: 20px;
	z-index: 2;
	display: none;
}

#shineBird{
	position: absolute;
	margin-left: 1030px;
	margin-top: 512px;
	z-index: 1;
	display: none;
}

.category{
	text-shadow:3px 0px 8px rgba(87,238,255,1);
	font-weight:normal;
	color:#1F7FBF;
	letter-spacing:1pt;
	word-spacing:-7pt;
	font-size:30px;
	text-align:center;
	font-family:arial black, sans-serif;
	line-height:1;
}

#lb_option{
	position: absolute;
	width:150px;
	margin-top: 70px;
	margin-left: 50px;
	text-align: center;
}

.listText{
	font-size: 20px;
	font-family: cursive;
	color:green;
}